body {
  background-color: #000000;
  font-family: "Consolas";
  color: #e9a2f6;
  border: 4px inset #777777;
  margin: 2% 10%;
}

hr {
  width: 95%;
}

.container {
  width: 100%;
}

article[role="main"] {
  float: left;
  width: 62.5%;
}

aside[role="complementary"] {
  float: right;
  width: 31.25%;
}

h2, p {
  padding: 1% 5%;
}

.box {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
