$bgcolor: #000000;
$font: "Consolas";
$fcolor: #e9a2f6;
$hr: 30em;
$border: 4px  inset #777777;
$margin: 2% 10%;
$padding: 1% 5%;

body {
  background-color: $bgcolor;
  font-family: $font;
  color: $fcolor;
  border: $border;
  margin: $margin;
}
hr {
  width: 95%;
}
.container{
  width: 100%;
}
article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complementary"] {
  float: right;
  width: 300px / 960px * 100%;
}

h2, p{
  padding: $padding;
}
.box {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
